.projectDiv{
  padding: 5% 0;
}


.projectHead h1 {
  font-size: 2rem;
  color: white;
  margin: auto;
  font-weight: bolder;
  text-align: center;
}
.projectContent{
  display: flex;
  flex-wrap: wrap;
  margin: 5% 6%;
}

.projectContent .contentMain {
  flex:23%;
  margin: 0 5px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
}

.contentMain video {
  object-fit: cover;
  width: 100%;
  opacity: 0.7;
}

.content {
  position: absolute;
  display: grid;
  align-content: center;
  height:100%;
  top:0;
  left: 0;
  z-index: -2;
  color: white;
  font-weight: bolder;
  padding: 5px;
  border-radius: 15px;
}

.content h4 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ffa500;
}

.content p {
  font-size: 10px;
  font-weight: bolder;
  padding: 0 10px;
}

.contentMain:hover .content {
  z-index: 1;
}

.contentMain:hover video {

  opacity: 0.2;
}


@media screen and (max-width: 992px) {
  .projectContent .contentMain{
    margin: 5px;
    flex: 48%;
  }
}


@media (max-width: 600px) { 
  .projectContent {
    flex-direction: column;
  }
}
