
/* Skills page CSS effects starts here*/

.mySkillsMainDiv{
    padding: 80px 0;

}

.mySkillsDiv{
    margin: 2% 10% 8% 10%;
}

.mySkillsDiv .mySkills{
    text-align: center;
    /* display:inline-block; */
}


.mySkills .mySkillsHead{
    color: #9333ea;
    background-color: white;
    display:inline-block;
    font-weight: bolder;
    font-size: 2.5em;
    font-family: "aquatico", "Concert One", cursive;
    padding: 30px;
    border-radius:67% 32% 48% 52% / 76% 75% 26% 26%;
}
/* 
.mySkills .skills--tag{
    color: white;
    background-color: #9333ea;
    display:inline-block;
    font-weight: bolder;
    font-size: 1em;
    padding:15px;
    border-radius:67% 32% 48% 52% / 76% 75% 26% 26%;
    transform: rotate(-20deg);
    position: absolute;
} */

.skillMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 12px;
    margin-top: 8%;
}
.skillMain .mySkillsCol{
    background-color: #111827;
    width: 120px;
    height: 120px;
    text-align: center; 
    border-radius: 5px; 
    box-shadow: 4px 6px 9px #0c111b;
    transition: transform 0.3s ease;
}
.mySkillsCol .skillsList{
    padding: 10px;
    
}

.mySkillsCol:hover{
    transform : translateY(-8px);
}
.skillsList .skill-name{
    display:inline-block;
    color: white;
    font-weight: 500;
    font-size: 13px;
    padding-top: 5px;
}

.skills-icons{
    height: 80px;
    width: 80px;
}

.mySkillsCol .skillsIcons .skillsName{
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
}



@media screen and (max-width: 992px) {
    /* .skillMain .mySkillsCol{
      margin: 5px;
      flex: 48%;
    } */
  }
  
  
  @media screen and (max-width: 600px) {
    .mySkills .mySkillsHead{
        font-size: 2em;
    }
    
  }

