
/* Skills page CSS effects starts here*/

.mySkillsDiv{
    /* margin: 5% 0; */
    padding: 5% 5% ;
}

.mySkillsDiv .mySkills{
    text-align: center;
}

.mySkills .mySkillsHead{
    color: white;
    font-weight: bolder;
    font-family: "aquatico", "Concert One", cursive;
    padding-bottom: 30px;
}


.mySkills .mySkillsIntro{
    
    font-size: 1em;
    color: white;
    font-family: "Poppins", sans-serif;
}
.skillMain{
    display: flex;
    flex-wrap: wrap;
}
.skillMain .mySkillsCol{
    flex: 24%;
    text-align: center;
}
.mySkillsCol .skillsList{
    
    margin: 5px 5px;
    
}

.mySkillsCol .skillsIcons{
    border: 1px solid white;
    border-radius: 15px;
    padding: 25px 0;
    font-size: 5em;
    color: #ffa500;
    display: block;
    
}

.mySkillsCol .skillsIcons .skillsName{
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    font-weight: bolder;
}


.mySkillsCol .skillsIcons:hover{
    background-color:#ffa500;
    color: black;
    

}
@media screen and (max-width: 992px) {
    .skillMain .mySkillsCol{
      margin: 5px;
      flex: 48%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .skillMain{
      flex-direction: column;
    }
    
  }

