@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

@font-face {
  font-family: "aquatico";
  src: url("/home/dhruv/Personal WORK/My Portfolio Site/Font/aquatico-cufonfonts-webfont.eot"); /* IE9 Compat Modes */
  src: url("/home/dhruv/Personal WORK/My Portfolio Site/Font/aquatico-cufonfonts-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/home/dhruv/Personal WORK/My Portfolio Site/Font/aquatico-cufonfonts-webfont.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/home/dhruv/Personal WORK/My Portfolio Site/Font/aquatico-cufonfonts-webfont.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("/home/dhruv/Personal WORK/My Portfolio Site/Font/aquatico-cufonfonts-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/home/dhruv/Personal WORK/My Portfolio Site/Font/aquatico-cufonfonts-webfont.svg#svgaquatico")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body::-webkit-scrollbar{
  display: none;
}

html{
  scrollbar-width: none;
}

body{
  -ms-overflow-style: none;
}

/* Main Div container CSS effets */

.main-container {
  display: flex;
  /* height: 100vh; */
  width: auto;
  user-select: none;
}

/* Sidebar CSS effects starts*/
.main-container .sidebar {
  font-family: "aquatico", "Concert One", cursive;
  background-color: #111827;
  width: 200px;
  padding-top: 60px;
  transition: transform 0.3s ease-out;
  position: fixed;
  right: 0;
  z-index: 2;
  height: 100vh;
  border-left: 2px solid white;
  border-radius: 30px;
  overflow-x: hidden;
}

#sidebar-links{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#sidebar-github, #sidebar-linkedIn{
  height:30px;
  width:30px;
}

.hamburger{
  display: none;
}

.hamburger .cross {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  /* left: 170px; */
  font-size: 2em;
  color: #9333EA;
  transition: transform 0.3s ease;
}

.cross:hover{
  transform: translateY(-3px);
}

.sidebarGo {
  /* display: none; */
  transform: translateX(300px);
}
.main-container .sidebar ul {
  padding-left: 0;
}

.main-container .sidebar li {
  list-style: none;
  line-height: 5;
  margin-top: 10px;
}

.main-container .sidebar li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  /* text-align: center; */
  display: block;
  padding-left: 55px;
}

.main-container .sidebar li a:hover {
  background: #9333EA;
  border-radius: 10px 70px 10px 70px;
  
}


.main {
  width: 100%;
  background-color: #111827;
  position: relative;
  /* padding-bottom: 10.5%; */
  
}

.navBar {
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  height: 90px;
  position:sticky;
  z-index: 1;
  top: 0;  
  padding-top: 10px;
}



.navBar .title {
  font-family: "aquatico", "Concert One", cursive;
  color: #9333EA;
  font-weight: bolder;
  flex: 0.28;
  padding: 15px 0 0 130px;
  font-size: 1.5em;
}



.navBar .hamburger i {
  position: absolute;
  top: 34px;
  right: 45px;
  cursor: pointer;
}

.navBar .hamburger .ham {
  color: #9333EA;
  font-size: 1.7em;
  transition: transform 0.3s ease;
}

.ham:hover{
  transform: translateY(-3px);
}

.navBar .mainMenu {
  margin-top: 20px;
  margin-right: 75px;;
  flex: 0.4;
}
.mainMenu .sidebarList {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  justify-content: space-between;
}

.sidebarList li {
  list-style: none;
}

.sidebarList li a {
  display: block;
  font-family: "aquatico", "Concert One", cursive;
  text-decoration: none;
  color: white;
  padding: 0 0 5px 0;
  font-size: 16px;
  font-weight: bolder;
  transition: transform 0.3s ease;
}

.sidebarList li .checked{
  color: white;
  padding: 0 0 5px 0;
  border-bottom: solid 2px #9333EA;
}

.sidebarList li .clicked-link{
  color: white;
}

.mainMenu .sidebarList li a:not(.checked):hover {
  color: white;
  transform: translateY(-5px);
}

/* additional */
.main .introContent {
  padding: 65px 0 110px;
}

.main .introContent .intro {
  font-family: "Dosis", sans-serif;
  color: white;
  /* flex:0.7; */
  margin: 15% 10% 8% 10%;
}
.introContent .intro .introTag {
  font-family: "Poppins", sans-serif;
  background-color: #9333EA;
  color:white;
  font-weight: bolder;
  font-size: 1.4em;
  margin-left: 20px;
  padding: 17px;
  border-radius: 56% 97% 68% 66% / 108% 82% 73% 45%;
  
}

.introContent .intro .name {
  font-weight: 700;
  font-size: 3.5em;
  padding-left: 13px;
  border-left: 5px solid #9333EA;
  border-radius: 10px;
  margin-top: 15px;
}

.name span{
    color:#9333EA;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #9333EA;
  border-radius: 50%;
  display: inline-block;
  margin-left:3px;
}

.introContent .intro .introPara {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-left: 20px;
  font-size: 1em;
}

.intro .buttons {
  margin-top: 30px;
  margin-left: 20px;
}

.buttons button {
  transition: transform 0.3s ease;
  border: 0 solid white;
  border-radius: 15px;
  padding: 4px 20px;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}

.buttons button a{
    text-decoration: none;
    color: black;
}


.buttons button:hover {
  transform: translateY(-6px);
  border-bottom: 2px solid white;
  background-color: #9333EA; 
  /* color:white;  */
}


.introContent .imgdiv {
  text-align: center;
  margin-top: 45px;
}

.mainImg {
  /* position: absolute; */
  max-width: 100%;
  max-height: 340px;
  /* border: 5px solid #9333EA; */
  border-radius: 67% 32% 48% 52% / 76% 75% 26% 26%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 35px;
  right: 45px;
  display: none;
}

#btn-github, #btn-linkedIn{
  position:fixed;
  left: 60px;
  height: 30px;
  width:30px;
  transition: transform 0.3s ease;
}

#btn-github{
  top:44%;
}
#btn-github:hover{
  transform: translateY(-5px);
  box-shadow: 0 3px 10px black;
}

#btn-linkedIn{
  top:54%;
}

#btn-linkedIn:hover{
  transform: translateY(-5px);
  box-shadow: 0 3px 10px black;
}


/* footer section  */

.footer-contact{
  padding: 4em 0 4em;
  background-color: black;  
}
.contactSec{
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin : 0 10%;
  gap : 20px;
}
.contactSec .contact-info{
  flex: 1;
  color: white;
}
.contactSec .contact-info .contact-info-sec{
  width: 65%;
}

.contactSec .contact-info .name{ 
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}


.contactSec .contact-info .aboutMe{
  font-size: 0.9rem;
  font-weight: bold;
}

.contactSec .contact-links{
  display: flex;
  gap : 10px;
  flex:0.8;
}
.contact-links .important{
  flex: 0.7;
  color: white;
}
.contact-links .important .importantLink{
  font-size: 1.1rem;
  font-weight: bolder;  
}

/* .contactSec .important .importantLink{
} */

.contact-links .important ul{
  cursor: pointer;
  line-height: 2;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.contact-links .important ul li a{
  text-decoration: none;
  color: white;
}

.contact-links .important ul li a:hover{
  border-bottom: 2px solid white;
}

.contact-links .socials{
  color: white;
  flex: 1;  
}

.contact-links .socials .contact-Info{
  font-size: 1.1rem;
  font-weight: bolder;  
}

.contact-links .socials ul{
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
}


/* .bottom {
   margin-top: 15%;
}
.bottom .copyright{
    font-family:'aquatico', 'Concert One', cursive;
   text-align: center;
   color: #FFA500;
   font-size: 0.8em;
} */

@media (max-width: 1024px) {
  .navBar .title {
    display: none;
  }

  .hamburger{
    display:block;
  }
  .navBar .mainMenu {
    margin-top: 20px;
    flex: 0.6;
    padding-left: 25px;
  }
  .introContent .intro .name {
    font-size: 3.2em;
  }

  .introContent .intro .introPara {
    font-size: 1.1em;
  }
  .mainImg {
    max-height: 340px;
  }
  #btn-linkedIn, #btn-github{
    display: none;
  }

  .contactSec{
    margin : 0 8%;
  }

  .contactSec .contact-info .contact-info-sec{
    width: 100%;
  }

  .contactSec .contact-info .name{ 
    font-size: 1.7rem;
    font-weight: 700;
  }

  .contactSec .contact-links{
    gap : 0;
    flex:1.2;
  }

  .contact-links .important .importantLink{
    font-size: 1rem; 
  }

  .contact-links .socials .contact-Info{
    font-size: 1rem; 
  }
}

@media (max-width: 768px) {
  .navBar .title {
    display: block;
    padding-left: 45px;
  }
  .navBar .mainMenu {
    display: none;
  }

  .introContent .intro .introTag {
    font-weight: 600;
    font-size: 1em;
  }
  
  .introContent .intro .name {
    font-size: 3em;
  }
  
  .introContent .intro .introPara {
    font-size: 1.1em;
  }

  .contactSec{
    flex-direction: column;
    margin: 0 12%;
  }


  .contactSec .contact-info .contact-info-sec{
    width: 100%;
  }

}

@media (max-width: 450px) {
  .main-container .main .introContent .intro .name {
    font-size: 2.3em;
  }
  .main-container .main .introContent .intro .introTag {
    /* font-weight: 600; */
    font-size: 1.1em;
    padding: 10px 15px;
  }
  
  .main-container .main .introContent .intro .introPara {
    font-size: 0.9em;
  }
  .buttons button {
    padding: 2px 15px;
    font-size: 1em;
  }
  .mainImg {
    max-height: 250px;
  }

  .contactSec .contact-links{
    flex-direction: column;
    gap: 30px;
  }

  .contact-links .important ul{
    flex-direction: row;
    justify-content: space-between;
  }


}

@media (max-width: 387px){
  .main-container .main .introContent .intro .name {
    font-size: 1.9em;
  }
}